  <!-- START PAGE SIDEBAR -->
  <div class="page-sidebar">
    <!-- START X-NAVIGATION -->
    <ul class="x-navigation">
        <li class="xn-logo">
            <a href="/products">Admin</a>
            <a href="#" class="x-navigation-control"></a>
        </li>
        <li class="xn-title">Navigation</li>
        <li class="active">
            <a href="/products"><span class="fa fa-desktop"></span> <span class="xn-text">Home</span></a>                        
        </li>                 
        <li>
            <a href="/products"><span class="fa fa-map-marker"></span> <span class="xn-text">Others</span></a>
        </li>                                       
    </ul>
    <!-- END X-NAVIGATION -->
  </div>
  <!-- END PAGE SIDEBAR -->