<form [formGroup]="productForm" novalidate autocomplete="off" (ngSubmit)="submitProductForm(productForm.value)">
  <div class="form-group" [ngClass]="{'error': productForm.controls.p_name.invalid && productForm.controls.p_name.touched}">
    <label for="Product Name">Product Name</label>
    <em *ngIf="productForm.controls.p_name.invalid && productForm.controls.p_name.touched">Required</em>
    <input class='form-control' type="text" formControlName="p_name" id="p_name" placeholder="Product Name"/>
  </div>
  <div class="form-group" [ngClass]="{'error': productForm.controls.p_desc.invalid && productForm.controls.p_desc.touched}">
    <label for="Description">Description</label>
    <em *ngIf="productForm.controls.p_desc.invalid && productForm.controls.p_desc.touched">Required</em>
    <input class='form-control' type="text" formControlName="p_desc" id="p_desc" placeholder="Product Description"/>
  </div>
  <div class="form-group" [ngClass]="{'error': productForm.controls.p_brand.invalid && productForm.controls.p_brand.touched}">
    <label for="Brand">Brand</label>
    <em *ngIf="productForm.controls.p_brand.invalid && productForm.controls.p_brand.touched">Required</em>
    <input class='form-control' type="text" formControlName="p_brand" id="p_brand" placeholder="Product Brand"/>
  </div>

  <button class='btn btn-button btn-primary' [disabled]="productForm.invalid" type="submit">Add Product</button>
  <button class='btn btn-button btn-default' (click)="cancelForm()" type="submit">Cancel</button>
</form>


