
<div class="table-responsive col-md-11">
    <table class='table table-striped' *ngIf="visibleProducts && visibleProducts.length > 0">
        <tr>
            <th width="5%">&nbsp;</th>
            <th width="20%">Product Name</th>
            <th width="25%">Description</th>
            <th width="20%">Brand</th>
            <th width="10%">Action</th>
        </tr>
        <tr *ngFor="let prod of visibleProducts let i = index" >
            <td>{{i+1}}</td>
            <td>{{prod.p_name}}</td>
            <td>{{prod.p_desc}}</td>
            <td>{{prod.p_brand}}</td>
            <td>
                <!-- [routerLink]="['/products', prod.PID]" -->
                <button modal-trigger (click)="product=prod" class='btn btn-default' ><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
            </td>
        </tr>
    </table>
</div>

<simple-modal title="Edit Product">
    <form #EditProductForm="ngForm" novalidate autocomplete="off" (ngSubmit)="editProductForm(EditProductForm.value)">
        <input class='form-control' type="text" name="PID" [hidden]="true" [(ngModel)]="product.PID" id="PID" />
            
        <div class="form-group">
            <label for="Product Name">Product Name</label>
            <input class='form-control' required type="text" name="p_name" [(ngModel)]="product.p_name" id="p_name" placeholder="Product Name"/>
        </div>
        <div class="form-group">                
            <label for="Description">Description</label>
            <input class='form-control' required  type="text" name="p_desc" [(ngModel)]="product.p_desc" id="p_desc" placeholder="Product Description"/>
        </div>
        <div class="form-group">
            <label for="Brand">Brand</label>
            <input class='form-control' required type="text" name="p_brand" [(ngModel)]="product.p_brand" id="p_brand" placeholder="Product Brand"/>
        </div>

        <hr>
        <div class='pull-right'>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" [disabled]="EditProductForm.controls.invalid">Save changes</button>
        </div>

    
    </form>
</simple-modal>


