<div class="container">
    <h1 class='p-2'>{{pageTitle}}<span></span></h1>
    
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="#" [class.active]="addActive==false">List View</a>
        <a class="breadcrumb-item" href="#" [class.active]="addActive==true">Add</a>
    </nav>
        
    <hr>

    <div *ngIf="!addActive">
        <div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="filterBy" class="col-lg-2 col-md-4 col-sm-6 col-xs-4 col-form-label">Filter By:</label>
                    <div class="col-lg-10 col-md-8 col-sm-6 col-xs-8">  
                            <input type="text" class='form-control' name="filterBy" [(ngModel)]="filterBy"  />
                    </div>
                </div>
            </div>
            <div>
                <button class='btn btn-button btn-default' (click)="addActive=!addActive"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
            </div>
        </div>
        <div class="p-2"></div>
        <app-product [filterBy]="filterBy" [products]="products"></app-product>
    </div>
    
    <div *ngIf="addActive">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <app-add-product (submitAddProduct)="submitAddProduct()" (cancelAddProduct)="cancelAddProduct()" ></app-add-product>
        </div>
    </div>

</div>
